<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="programaescolar.developsrd.com.programaescolar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrimariaActivity"
            android:label="@string/title_activity_primaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecundariaActivity"
            android:label="@string/title_activity_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Primaria.PrimerCicloPrimaria"
            android:label="@string/title_activity_primer_ciclo_primaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Primaria.SegundoCicloPrimaria"
            android:label="@string/title_activity_segundo_ciclo_primaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Secundaria.PrimerCicloSecundaria"
            android:label="@string/title_activity_primer_ciclo_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Secundaria.SegundoCicloSecundaria"
            android:label="@string/title_activity_segundo_ciclo_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MateriasSecundaria.MateriasPrimerGradoSecundariaActivity"
            android:label="@string/title_activity_materias_primer_grado_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MateriasSecundaria.PrimerGradoSecundaria"
            android:label="@string/title_activity_primer_grado_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MateriasSecundaria.SegundoGradoSecundaria"
            android:label="@string/title_activity_segundo_grado_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MateriasSecundaria.TercerGradoSecundaria"
            android:label="@string/title_activity_tercer_grado_secundaria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MateriasSecundariasTemplate.PrimerGradoSecundariaTemplate"
            android:label="@string/title_activity_primer_grado_secundaria_template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MateriasSecundariasTemplate.TercerGradoSecundariaTemplate"
            android:label="@string/title_activity_tercer_grado_secundaria_template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TercerGradoSecundariaDias.TercerGradoSecundariaDiasTemplate"
            android:label="@string/title_activity_tercer_grado_secundaria_dias_template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TercerGradoSecundariaDias.TercerGradoMatematicasDias"
            android:label="@string/title_activity_tercer_grado_matematicas_dias"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>